[submodule "components/wolfssl"]
	path = components/wolfssl
	url = https://github.com/younghyunjo/wolfssl.git
    branch = esp-idf
[submodule "components/arduino"]
	path = components/arduino
	url = https://github.com/espressif/arduino-esp32.git
    branch = master
